<template>
  <canvas class="canvas" :id="canvasId" :width="style.width" :height="style.height"></canvas>
</template>

<script setup lang="ts">
import { reactive, onMounted, onUnmounted, withDefaults } from 'vue';
import { BezierDiscreteCurve } from './bezier';

interface Props {
  canvasWidth?: number;
  canvasHeight?: number;
}

const props = withDefaults(defineProps<Props>(), {
  canvasWidth: 200,
  canvasHeight: 200,
});

const prts = 'PRTS';
const canvasId = 'canvas-logo';

const line = prts
  .split('')
  .map((char) => ['0', ...char.charCodeAt(0).toString(2).split('')])
  .flat()
  .join('');

let canvas: HTMLCanvasElement;
let ctx: CanvasRenderingContext2D;
let curve: BezierDiscreteCurve;

const style = reactive({
  width: 200,
  height: 200,
  size: 10,
});

function handleResize() {
  const width = props.canvasWidth;
  const height = props.canvasHeight;

  style.size = Math.min(width / 2, height) / 16;

  style.width = width;
  style.height = height;
  if (curve) curve.stop();
  curve = new BezierDiscreteCurve(ctx, line, width, height, 32);
}

function handleKeyPress(e: KeyboardEvent) {
  // 空格键
  if (e.keyCode === 32) {
    curve.switchPause();
  }
}

onMounted(() => {
  canvas = <HTMLCanvasElement>document.getElementById(canvasId);
  ctx = canvas.getContext('2d') as CanvasRenderingContext2D;
  handleResize();
  window.addEventListener('keypress', handleKeyPress);
});

onUnmounted(() => {
  window.removeEventListener('keypress', handleKeyPress);
});
</script>

<style lang="less" scoped>
.canvas {
  margin: 40px auto;
  display: block;
}
</style>
