<template>
  <div class="page-readme">
    <Logo />
    <h1 class="title">Nusuth</h1>
    <h2 class="sub-title">实现框架式、热重载编译的Vite插件</h2>
    <div class="btns">
      <a href="/guide/getting-start" class="btn btn-start">快速上手</a>
      <a href="/guide/#介绍" class="btn btn-intro">项目介绍</a>
    </div>
  </div>
</template>

<script setup lang="ts">
import Logo from '../Logo/index.vue';
</script>

<style lang="less" scoped>
.page-readme {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    margin: 1.8rem auto;
    font-size: 3rem;
  }

  .sub-title {
    max-width: 35rem;
    font-size: 1.6rem;
    line-height: 1.3;
    color: #6a8bad;
    margin: 1.8rem auto;
    font-weight: 400;
  }

  .btns {
    .btn {
      display: inline-block;
      font-size: 1.2rem;
      padding: 0.8rem 1.6rem;
      border-width: 2px;
      border-style: solid;
      border-radius: 4px;
      transition: background-color 0.3s ease;
      box-sizing: border-box;
      text-decoration: none;

      + .btn {
        margin-left: 1.5rem;
      }

      &.btn-start {
        color: #ffffff;
        background-color: #3eaf7c;
        border-color: #3eaf7c;

        &:hover {
          background-color: #4abf8a;
        }
      }

      &.btn-intro {
        &:hover {
          color: var(--c-bg);
          background-color: var(--c-brand-light);
        }
      }
    }
  }
}
</style>
